## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.lock.json

## Build
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPublic/

## Test results
[Tt]est[Rr]esult*/
*.trx
coverage*/

## Docker
data/

## IDE
.idea/
*.swp
*.swo
*~

## OS
.DS_Store
Thumbs.db
